/data
/Models/
/models_traced
/logs
/lightning_logs
/tests
/utils
/Results
/notebooks/phisatnet

# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Logs
*.log

# Virtual environment
*.env
*.venv
Outputs/inference_result_0.png
Outputs/inference_result_1.png
Outputs/inference_result_2.png
Outputs/inference_result_3.png
Outputs/inference_result_4.png
Outputs/inference_result_5.png
Outputs/inference_result_6.png
Outputs/inference_result_7.png
Outputs/inference_result_8.png
Outputs/inference_result_9.png
Outputs/inference_result_10.png
Outputs/inference_result_11.png
Outputs/inference_result_12.png
Outputs/inference_result_13.png
Outputs/inference_result_14.png
Outputs/inference_result_15.png
Outputs/inference_result_16.png
Outputs/inference_result_17.png
Outputs/inference_result_18.png
Outputs/inference_result_19.png
Outputs/inference_result_20.png
Outputs/inference_result_21.png
Outputs/inference_result_22.png
Outputs/inference_result_23.png
Outputs/inference_result_24.png
Outputs/inference_result_25.png
Outputs/inference_result_26.png
Outputs/inference_result_27.png
Outputs/inference_result_28.png
Outputs/inference_result_29.png
Outputs/inference_result_30.png
Outputs/inference_result_31.png
Outputs/inference_result_32.png
Outputs/inference_result_33.png
Outputs/inference_result_34.png
Outputs/inference_result_35.png
Outputs/inference_result_36.png
Outputs/inference_result_37.png
Outputs/inference_result_38.png
Outputs/inference_result_39.png
Outputs/inference_result_40.png
Outputs/inference_result_41.png
Outputs/inference_result_42.png
Outputs/inference_result_43.png
Outputs/inference_result_44.png
Outputs/inference_result_45.png
Outputs/inference_result_46.png
Outputs/inference_result_47.png
Outputs/inference_result_48.png
Outputs/inference_result_49.png
Outputs/inference_result_50.png
Outputs/inference_result_51.png
Outputs/inference_result_52.png
Outputs/inference_result_53.png
Outputs/inference_result_54.png
Outputs/inference_result_55.png
Outputs/inference_result_56.png
Outputs/inference_result_57.png
Outputs/inference_result_58.png
Outputs/inference_result_59.png
Outputs/inference_result_60.png
Outputs/inference_result_61.png
Outputs/inference_result_62.png
Outputs/inference_result_63.png
Outputs/inference_result_64.png
Outputs/inference_result_65.png
Outputs/inference_result_66.png
Outputs/inference_result_67.png
Outputs/inference_result_68.png
Outputs/inference_result_69.png
Outputs/inference_result_70.png
Outputs/inference_result_71.png
Outputs/inference_result_72.png
Outputs/inference_result_73.png
Outputs/inference_result_74.png
Outputs/inference_result_75.png
Outputs/inference_result_76.png
Outputs/inference_result_77.png
Outputs/inference_result_78.png
Outputs/inference_result_79.png
Outputs/inference_result_80.png
Outputs/inference_result_81.png
Outputs/inference_result_82.png
Outputs/inference_result_83.png
Outputs/inference_result_84.png
Outputs/inference_result_85.png
Outputs/inference_result_86.png
Outputs/inference_result_87.png
Outputs/inference_result_88.png
Outputs/inference_result_89.png
Outputs/inference_result_90.png
Outputs/inference_result_91.png
Outputs/inference_result_92.png
Outputs/inference_result_93.png
Outputs/inference_result_94.png
Outputs/inference_result_95.png
Outputs/inference_result_96.png
Outputs/inference_result_97.png
Outputs/inference_result_98.png
Outputs/inference_result_99.png
Outputs/inference_result_100.png
Outputs/inference_result_101.png
Outputs/inference_result_102.png
Outputs/inference_result_103.png
Outputs/inference_result_104.png
Outputs/inference_result_105.png
Outputs/inference_result_106.png
Outputs/inference_result_107.png
Outputs/inference_result_108.png
Outputs/inference_result_109.png
Outputs/inference_result_110.png
Outputs/inference_result_111.png
Outputs/inference_result_112.png
Outputs/inference_result_113.png
Outputs/inference_result_114.png
Outputs/inference_result_115.png
Outputs/inference_result_116.png
Outputs/inference_result_117.png
Outputs/inference_result_118.png
Outputs/inference_result_119.png
Outputs/inference_result_120.png
Outputs/inference_result_121.png
Outputs/inference_result_122.png
Outputs/inference_result_123.png
Outputs/inference_result_124.png
Outputs/inference_result_125.png
Outputs/inference_result_126.png
Outputs/inference_result_127.png
Outputs/inference_result_128.png
Outputs/inference_result_129.png
Outputs/inference_result_130.png
Outputs/inference_result_131.png
Outputs/inference_result_132.png
Outputs/inference_result_133.png
Outputs/inference_result_134.png
Outputs/inference_result_135.png
Outputs/inference_result_136.png
Outputs/inference_result_137.png
Outputs/inference_result_138.png
Outputs/inference_result_139.png
Outputs/inference_result_140.png
Outputs/inference_result_141.png
Outputs/inference_result_142.png
Outputs/inference_result_143.png
Outputs/inference_result_144.png
Outputs/inference_result_145.png
Outputs/inference_result_146.png
Outputs/inference_result_147.png
Outputs/inference_result_148.png
Outputs/inference_result_149.png
Outputs/inference_result_150.png
Outputs/inference_result_151.png
Outputs/inference_result_152.png
Outputs/inference_result_153.png
Outputs/inference_result_154.png
Outputs/inference_result_155.png
Outputs/inference_result_156.png
Outputs/inference_result_157.png
Outputs/inference_result_158.png
Outputs/inference_result_159.png
Outputs/inference_result_160.png
Outputs/inference_result_161.png
Outputs/inference_result_162.png
Outputs/inference_result_163.png
Outputs/inference_result_164.png
Outputs/inference_result_165.png
Outputs/inference_result_166.png
Outputs/inference_result_167.png
Outputs/inference_result_168.png
Outputs/inference_result_169.png
Outputs/inference_result_170.png
Outputs/inference_result_171.png
Outputs/inference_result_172.png
Outputs/inference_result_173.png
Outputs/inference_result_174.png
Outputs/inference_result_175.png
Outputs/inference_result_176.png
Outputs/inference_result_177.png
Outputs/inference_result_178.png
Outputs/inference_result_179.png
Outputs/inference_result_180.png
Outputs/inference_result_181.png
Outputs/inference_result_182.png
Outputs/inference_result_183.png
Outputs/inference_result_184.png
Outputs/inference_result_185.png
Outputs/inference_result_186.png
Outputs/inference_result_187.png
Outputs/inference_result_188.png
Outputs/inference_result_189.png
Outputs/inference_result_190.png
Outputs/inference_result_191.png
Outputs/inference_result_192.png
Outputs/inference_result_193.png
Outputs/inference_result_194.png
Outputs/inference_result_195.png
Outputs/inference_result_196.png
Outputs/inference_result_197.png
Outputs/inference_result_198.png
Outputs/inference_result_199.png
Outputs/inference_result_200.png
Outputs/inference_result_201.png
Outputs/inference_result_202.png
Outputs/inference_result_203.png
Outputs/inference_result_204.png
Outputs/inference_result_205.png
Outputs/inference_result_206.png
Outputs/inference_result_207.png
Outputs/inference_result_208.png
Outputs/inference_result_209.png
Outputs/inference_result_210.png
Outputs/inference_result_211.png
Outputs/inference_result_212.png
Outputs/inference_result_213.png
Outputs/inference_result_214.png
Outputs/inference_result_215.png
Outputs/inference_result_216.png
Outputs/inference_result_217.png
Outputs/inference_result_218.png
Outputs/inference_result_219.png
Outputs/inference_result_220.png
Outputs/inference_result_221.png
Outputs/inference_result_222.png
Outputs/inference_result_223.png
Outputs/inference_result_224.png
Outputs/inference_result_225.png
Outputs/inference_result_226.png
Outputs/inference_result_227.png
Outputs/inference_result_228.png
Outputs/inference_result_229.png
Outputs/inference_result_230.png
Outputs/inference_result_231.png
Outputs/inference_result_232.png
Outputs/inference_result_233.png
Outputs/inference_result_234.png
Outputs/inference_result_235.png
Outputs/inference_result_236.png
Outputs/inference_result_237.png
Outputs/inference_result_238.png
Outputs/inference_result_239.png
Outputs/inference_result_240.png
